Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^lti/page /local/lti/index.php?type=page [L,NC]
RewriteRule ^lti/book /local/lti/index.php?type=book [L,NC]
