
.local_lti_loading_bar {
  margin: 5em;
}

.local_lti_loading_bar .progress {
  width: 100%;
  background-color: #343a40;
  height: 40px;
}

.local_lti_loading_bar .bar {
  width: 1%;
  background-color: #6899e8;
  transition : width .4s ease;
  -moz-transition: width .4s ease;
  -webkit-transition: width .4s ease;
  -o-transition: width .4s ease;
  display: flex;
  align-items: center;
}

.local_lti_loading_bar .bar span {
  margin: auto;
  display: inline-block;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}
