.local_lti_page .navbar {
  padding-top: .3em;
  padding-bottom: .3em;
}

.local_lti_page {
  display: none;
}

.local_lti_page .navbar-brand img {
  height: 30px;
}

/* Set size and colour of brand title text. */
.local_lti_page .navbar-brand .title {
  color: #fff;
  margin-left: .7em;
  font-size: 1.5rem;
}
/* Center logo and brand text. */
.local_lti_page .navbar-brand {
  display: flex;
  align-items: center;
}

/* Place margin and padding around page content to prevent header covering it. */
.local_lti_page .content {
  margin-top: 4em;
  padding: 1em;
}
