<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>

  <!-- Custom CSS to style this book. -->
  <link rel="stylesheet" href="style/book.css">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      MathML: {
        extensions: ["content-mathml.js"]
      }
    });
  </script>

  <!-- MathJax filter. -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

  <!-- Custom script to support navigation between book pages and calls for iframe resizing. -->
  <script src="js/book_navigation.js"></script>

  <title>WCLN</title>

</head>

<body onload="initialize()">
  <div class="local_lti_book">
    {{#lessons}}
      <div class="lti-page" id="page-{{pagenum}}">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand">
           <img src="images/wcln_logo_light.png">
           <span class="title">{{title}}</span>
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div id="navbarNavDropdown" class="navbar-collapse collapse">
           <ul class="navbar-nav mr-auto">
             <!-- Force below navbar to right -->
           </ul>
           <ul class="navbar-nav">
             <button class="btn btn-secondary" type="button">Back</button>
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Table of Contents
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                 {{#lessons}}
                  <a class="dropdown-item dropdown-{{pagenum}}" onclick="navigate({{pagenum}})">{{title}}</a>
                 {{/lessons}}
               </div>
             </li>
             <button class="btn btn-primary" type="button">Next</button>
           </ul>
         </div>
         </nav>
         <div class="content">
           {{{content}}}
         </div>
       </div>
    {{/lessons}}
  </div>
</body>
</html>
