<div class="local_lti_error">
  <!-- Custom CSS to style this error. -->
  <link rel="stylesheet" href="../style/error.css">
  <div class="header">
    <img src="../images/error.png"/>
    <h1>{{# str }} error_heading, local_lti {{/ str }}</h1>
  </div>
  <div class="content"
    <p>{{message}}</p>
    <p>{{# str }}error_footer, local_lti {{/ str }}</p>
  </div>
</div>
