<div class="local_lti_loader">
  <div class="container">
    <div class="loader"></div>
    <img src="images/wcln_logo_light.png"/>
  </div>
  <!-- {{# str }} loading, local_lti {{/ str }} -->
</div>
