<html>
<head>
  <!-- jQuery library -->
  <script src="https://bclearningnetwork.com/lib/jquery/jquery-3.2.1.min.js"></script>
  <script src="js/page_navigation.js"></script>
</head>
<body onload="init()">
  {{{content}}}
</body>
</html>
