
  {{> local_lti/header }}

  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="js/page_navigation.js"></script>
</head>
<body onload="init()">
  {{{content}}}
</body>
</html>
