
{{> local_lti/header }}

  <!-- Custom CSS to style this book. -->
  <link rel="stylesheet" href="style/resource_not_setup.css">
</head>
<body>
  <div class="local_lti_resource_not_setup">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
     <a class="navbar-brand">
       <img src="images/wcln_logo_light.png">
       <span class="title">{{# str }} brand_heading, local_lti {{/ str }}</span>
     </a>
     </nav>
     <div class="content">
       <h2>{{# str }} resource_not_setup_heading, local_lti {{/ str }}</h2>
       <p>{{# str }} resource_not_setup_description, local_lti {{/ str }}</p>
    </div>
 </div>
</body>
</html>
