<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/local/lti/vue/provider/dist/favicon.ico">
    <title>{{title}}</title>
    <link href="/local/lti/vue/provider/dist/js/app.js" rel="preload" as="script">
    <link href="/local/lti/vue/provider/dist/js/chunk-vendors.js" rel="preload" as="script">
</head>
<body>
<noscript>
    <strong>This application does not work without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app">
    <App
            token="{{token}}"
            error-code="{{error_code}}"
            error-message="{{error_message}}"
    ></App>
</div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="/local/lti/vue/provider/dist/js/chunk-vendors.js"></script>
<script type="text/javascript" src="/local/lti/vue/provider/dist/js/app.js"></script>
</body>
</html>
